<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <!-- <mat-error *ngIf="securityObject && !securityObject.email">
        Su correo o password son inválidos
    </mat-error> -->
    <div id="login-form">

      <div class="logo">
        <img src="assets/images/logos/ecommerce.svg" class="imagen">
      </div>

      <div class="title">INGRESE A SU CUENTA</div>
      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field>
          <input matInput type="email" id="email" name="email" placeholder="Email" formControlName="email" maxlength="50">
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email es requerido
          </mat-error>
          <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                              loginForm.get('email').hasError('email')">
            Por favor ingrese un email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" id="password" name="password" placeholder="Contraseña" formControlName="password" maxlength="50">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Contraseña es requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
            Se requiere que su contraseña tenga por lo menos 5 caracteres
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end center">
          <a class="forgot-password" routerLink="/reset/request">
            Se olvidó su contraseña?
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid" (click)="login()">
          INGRESAR
        </button>

      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">No tienes una cuenta?</span>
        <a class="link" routerLink="/register">Crear nueva cuenta</a>
      </div>

    </div>

  </div>

</div>
