:host {
  .example-card {
    max-width: 230px;
    .img-producto {
      height: 200px;
      max-height: 200px;
      background-size: cover;
    }
  }

  .mat-card .mat-divider {
    margin: 10px 0;
    position: unset;
  }

  .p-16 {
    padding: 8px !important;
  }

  .titulo {
    font-size: 20px;
    font-weight: normal;
  }

  .amber-fg {
    color: #ffc107 !important;
  }

  i.s-16, mat-icon.s-16 {
    font-size: 16px !important;
    width: 16px !important;
    height: 16px !important;
    min-width: 16px !important;
    min-height: 16px !important;
    line-height: 16px !important;
  }

  .secondary-text, .icon, i {
    color: rgba(0, 0, 0, 0.54);
  }

  .mb-12 {
    margin-bottom: 10px !important;
  }

  .mat-card-content{
    margin-bottom: 8px;
  }

}
